@charset "UTF-8";

body{

}
section{
    padding: 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    padding: 20px;
}
p{
    text-align: justify;
    padding: 20px;
}

label#itexto{
    width: 400px;
}