@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: white;

}

body{}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh ;
    width: 100%;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.219);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(to right, #01BDC6, #09264E);
    box-shadow: 0px 0px 2px #09264e69;
}

div.logo{
    margin: 30px;
    font-size: 1.5em;
}

#burguer{
    font-size: 3em;
    margin: 30px;
}

#burguer:hover{
   color: #01BDC6;
}

.overlay{
    width: 0;
    height: 100vh;
    background-color: #09264E;
    z-index: 9;
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content{
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.5em;
    transition: 0.3s;
}

.overlay a:hover {
    color: #013436;
}

.overlay .closebtn{
   padding: 20px;
   font-size: 3em;
   text-align: right;
}


main{}

section#inicio{
    display: block;
    height: 130vh;
    background-image: linear-gradient(to right, #01BDC6, #09264E);
    text-align: center;
}

picture{
   display: block;
   margin: auto;
}

section#inicio h1{
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-weight: 100;
}

section#inicio a{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 30px;
    background-color: #10ccadd5;
}

section#inicio a:hover{
    background-color: #013436;
}

section#novidades{
    height: 80vh;
    background-color: #09264E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#novidades h1{
    padding: 20px;
    font-size: 3em; 
}

section#novidades p{
    padding: 20px;
    font-size: 1.5em;
}

section#produtos{
    height: 200vh;
    background-image: linear-gradient(to right, #01BDC6, #09264E);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#produtos h1{
    padding: 20px;
    font-size: 2.5em; 
}

div#headphone-bluetoot{
    margin: 20px;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

label{
    margin: 10px;
    padding: 10px;
}

label a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

label#headphone-bluetoot p:hover{
    color: #013436;
}

label#headephone-gamer p:hover{
    color: #013436;
}

label#microfone p:hover{
    color: #013436;
}

section#contatos{
    height: 120vh;
    background-image: linear-gradient(to right, #01BDC6, #09264E);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#contatos h1{
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

section#contatos h2{
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

iframe{
    display: block;
    margin: auto;
    padding: 20px;
}

section#contatos p a{
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
}

section#contatos a:hover{
    color: #09264E;
}

div#rede a{
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;

}


footer{
    height: 10vh;
    background-color: #09264E;
    display: flex;
    justify-content: center;
    align-items: center;
}